#footer {
    padding: 2px;
    background-color: teal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    justify-content: center;
}