/* #header {
    display: flex;
    align-items: center;
    
    padding: 10px;



} */

#header>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#header h3,
#header h6 {
    /* margin-right: 20px; */
    font-size: 16px;
    font-weight: 300;
}

.link {
    text-decoration: none;
    font-weight: 300;


}

.logo {
    width: 70px;
}

#header button {
    width: max-content;
    /* margin-left: 10px; */
    border: none;
    cursor: pointer;
    background-color: teal;
    border: 1px solid white;
    color: white;
}

/* add */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    position: sticky;
}

.logo {
    width: 50px;
    height: auto;
}

h6 {
    margin: 0;
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;


}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-content a {
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
    font-weight: 100;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.search {
    display: flex;
}

.rightmenu {
    margin-left: 600px;
}

.searchinput {
    margin-left: 500px;
    width: 25%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}